.calculator{
    border: 1px solid rgb(54, 40, 40);
    border-width: 2px;
    width: 200px;
    height: 450px;
    border-radius: 5px;
}
.heading{
    margin-left: 22px;
    font-weight: bold;
}
